.ProductEditModal > .Modal-Content {
  background-color: white;
  border-radius: 5px;
  padding: 1px;
}

.ProductEditForm {
  min-height: 70vh;

  & > .forms {
    padding: 2.25rem;
  }

  &.columns, & .columns {
    margin: 0 0 0 0 !important;
  }

  & > .forms .column {
    padding-top: 0px;
    padding-left: 0px;
  }

}

.SidebarMenu {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;

  .menu-items {
    flex-grow: 1;
  }

  .bottom-button {
    align-self: flex-end;
    width: 100%;
    text-align: center;
  }

  .bottom-button > button.delete-button {
    margin-top: 10px;
  }

  .bottom-button > button.is-text {
    width: 100%;
    color: grey;
    text-decoration: none;
  }
}