.search-bar input {
    min-width: 100%;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.search-bar input::placeholder {
    color: whitesmoke;
    opacity: 0.2;
    font-size: 0.9rem;
}

.GlobalSearchBar input {
    cursor: pointer;
}

.GlobalSearchBar-overlay {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    font-weight: normal;
}

.GlobalSearchBar-overlay .results {
    overflow: auto;
    height: calc(100% - 100px);
}

.GlobalSearchBar-overlay .results img {
    max-height: none;
}

.GlobalSearchBar-overlay .nav-cover {
    background-color: #263238;
    height: 60px;
    display: flex;
    flex-align: center;
    justify-content: center;
}

.GlobalSearchBar-overlay .form-case {
    display: flex;
    width: 100%;
}

.GlobalSearchBar-overlay .control {
    width: 100%;
    height: 100%;
}

.GlobalSearchBar-overlay .control .input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    box-shadow: none;
}

.GlobalSearchBar-overlay .control .input::placeholder {
    color: #848484;
}

.GlobalSearchBar-overlay .control.is-loading::after {
    top: 1.3rem;
}

.GlobalSearchBar-overlay button.search-button {
    background-color: transparent !important;
    max-width: 90px;
    height: 100%;
    font-family: "Poppins", sans-serif;
    border: none;
    color: #47e0a0 !important;
    font-size: 1.2rem;
    cursor: pointer;
}

.GlobalSearchBar-overlay .results {
    animation: fadein 0.3s ease;
    margin-top: 20px;
    font-family: sans-serif;
}

.GlobalSearchBar-overlay .title {
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
}
