.LiveLogo {
    a {
        position: fixed;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #3fdb96;
        font-size: 20px;

        width: 100%;

        top: 20px;
        left: 20px;
    }
}
