.SettingsPage {

}

section.settings-header {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.GoldSettings.disabled {
    pointer-events: none;
    position: relative;
    margin-top: 30px;
    opacity: 0.5;
}

.GoldSettings.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}