.CommentInput {
}

.CommentInput input {
    width: 100%;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 20px;
    min-height: 30px;
    outline: none;
}

.CommentInput textarea {
    resize: none;
    color: #222 !important;
}
