.NoActivityCard {

}

.NoActivityCard .CtaButton {
    border: none !important;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: white;
    transition: all 0.3s ease;
    overflow: visible;
    color: #32bc83;
}

.NoActivityCard .CtaButton:hover {
    background-color: #32bc83;
    transform: scale(0.95);
    color: white;
}
