
.InProgressCard {
    transition: background-color .25s;
    color: white !important;
    background-color: rgb(243, 156, 18) !important;
}

.InProgressCard.empty {
    background-color: rgb(39, 174, 96) !important;
}

.InProgressCard .Entry {
    background-color: transparent;
    font-size: 1.5em !important;
    color: white !important;
    cursor: pointer;
}

.InProgressCard .Entry svg {
    color: white;
}

.InProgressCard .title {
    color: white;
}

.color-circle {
    background-color:#fff;
    border:4px solid red;
    height:15px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:15px;
}