html {
    --font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
        Arial, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Segoe UI", sans-serif;
    --font-poppins: "Poppins", var(--font);
    margin: 0;
}

body {
    font-family: var(--font);
    background: #ecf0f1;
    margin: 0;
    transition: background-color 300ms ease-in-out;
}

* {
    outline: none;
}

pre {
    white-space: pre-wrap;
}

h1 {
    font-family: var(--font-poppins);
    font-weight: 700 !important;
}

#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#page #page-content {
    flex: 1;
}

#page.is-loading {
    position: relative;
}

.PageCard {
    color: white !important;
    background: #67b26f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67b26f);
    background: linear-gradient(to right, #4ca2cd, #67b26f);
    transition: background-color 0.25s;
}

.PageCard.yellow {
    background: #fdc830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f37335, #fdc830);
    background: linear-gradient(to left, #f37335, #fdc830);
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    flex: 1;
}

.is-brand-background {
    background-color: #47e0a0 !important;
}

.is-brand-background-darker {
    background-color: #00b77a !important;
}

.is-brand-green {
    /* make sass is-primary */
    color: #47e0a0 !important;
    border-color: #47e0a0 !important;
}

.button.is-brand-green.is-outlined {
    background-color: transparent;
    color: #47e0a0 !important;
    border-color: #47e0a0 !important;
}

.button.is-brand-green.is-loading {
    color: transparent !important;
}

.is-brand-green.is-inverted {
    background-color: #47e0a0 !important;
    color: white !important;
    border-color: #47e0a0 !important;
}

.button.is-brand-green.is-outlined:hover,
.button.is-primary.is-outlined:focus {
    background-color: #47e0a0 !important;
    border-color: #47e0a0 !important;
    color: white !important;
}

.add-log-field {
    background-color: #263238;
    margin-bottom: 30px;
    padding: 50px;
}

.img-circle {
    border-radius: 50%;
    height: auto;
    width: 100%;
}

.epic-border {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

figure.img-circle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

figure.ProductThumbnail img {
    max-height: 48px;
    max-width: 48px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.media-content {
    overflow: hidden !important;
}

.column.has-vertically-aligned-content {
    display: flex;
    align-items: center;
}

.column.has-hv-aligned-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.has-hv-aligned-content {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid white;
    border-radius: 8px !important;
    box-shadow: none !important;
}

.card .card-header {
    box-shadow: none;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

.has-brand-gradient {
    background: #11998e;
    /* fallback */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);
    background: linear-gradient(to left, #38ef7d, #11998e);
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.is-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.home-hero {
    height: 100%;
}

.home-hero > .columns {
    height: 100%;
}

.menu-list a.is-active {
    background-color: #47e0a0;
}

.button {
    border-radius: 5px;
}

.transparent-navbar a.navbar-item.is-active {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.transparent-navbar.navbar {
    top: 0;
    position: absolute;
    z-index: 30;
    width: 100%;
    background: transparent;
}

.transparent-navbar .navbar-brand > a {
    color: white !important;
}

.transparent-navbar.navbar.is-dark .navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 0 0 8px 8px;
}

.transparent-navbar.navbar.is-dark .navbar-item.has-dropdown:hover,
.transparent-navbar.navbar.is-dark
    .navbar-item.has-dropdown
    > .navbar-link:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.translucent-navbar.navbar {
    position: absolute;
    z-index: 30;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0)
    );
}

.translucent-navbar.navbar.is-dark .navbar-item:hover,
.translucent-navbar.navbar.is-dark .navbar-item.has-dropdown:hover,
.translucent-navbar.navbar.is-dark
    .navbar-item.has-dropdown
    > .navbar-link:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.img-rounded {
    border-radius: 5px;
}

.img-rounded > img {
    border-radius: 5px;
}

.has-small-margin-bottom {
    margin-bottom: 5px !important;
}

#carbonads {
    --width: 100%;
    --font-size: 14px;
}

.carbon-wrap {
    display: flex !important;
    width: 100% !important;
}

#carbonads {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    max-width: var(--width);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
    font-size: var(--font-size);
    line-height: 1.5;
    width: 100% !important;
}

#carbonads a {
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex: 50%;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
}

.carbon-img {
    flex: 25% !important;
    display: block;
    max-width: var(--width);
    line-height: 1;
}

.carbon-img img {
    display: block;
    margin: 0 auto;
    max-width: var(--width) !important;
    width: var(--width);
    height: auto;
}

.carbon-text {
    display: flex;
    padding: 1em;
}

.carbon-poweredby {
    display: block;
    padding: 10px var(--font-size);
    background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            hsla(0, 0%, 0%, 0.025) 5px,
            hsla(0, 0%, 0%, 0.025) 10px
        )
        hsla(203, 11%, 95%, 0.4);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    #carbonads {
        float: none;
        margin: 0 auto;
        max-width: 330px;
    }

    #carbonads span {
        position: relative;
    }

    #carbonads > span {
        max-width: none;
    }

    .carbon-img {
        float: left;
        margin: 0;
    }

    .carbon-img img {
        max-width: 130px !important;
    }

    .carbon-text {
        float: left;
        margin-bottom: 0;
        padding: 8px 20px;
        text-align: left;
        max-width: calc(100% - 130px - 3em);
    }

    .carbon-poweredby {
        left: 130px;
        bottom: 0;
        display: block;
        width: 100%;
    }
}

.nav-hidden .navbar {
    display: none;
}

.Navigation {
    min-height: 60px;
}

@media screen and (max-width: 1023px) {
    .navbar-secondary {
        padding-top: 10px;
    }
}

.CreateIconCard {
    background-color: #dbdbdb !important;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}

.ProductsHome {
    padding-top: 30px;
}

.react-calendar-heatmap .color-scale-0 {
    fill: #e2e2e2;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #85e1b7;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #53af87;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #1c7f5a;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #106748;
}

.praising {
    font-weight: bold;
    background-color: #ffd157 !important;
    border-color: #de900e !important;
    transform: scale(0.93);
    color: white !important;
}

.twitchWrapper {
    position: relative;
}

.twitchStream {
    position: relative;
    width: 75%;
}

.twitchStream:before {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* 16:9 */
}

.twitchChat {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
}

.twitchStream iframe,
.twitchChat iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .twitchStream {
        width: 100%;
    }

    .twitchChat {
        display: none;
    }
}

.level-left {
    max-width: 80%;
}

.navbar:first-of-type {
    z-index: 99999;
}

.navbar:first-of-type {
    z-index: 98;
}

.Modal-Container .columns {
    margin: 1rem !important;
}

.columns .column:first-of-type,
.column.stream-column {
    max-width: calc(100% - 400px);
}

.ReactModal__Content {
    width: auto !important;
}

#page #page-content > .columns {
    z-index: 1 !important;
}

.DateRangePicker
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}

.DateRangePicker .DayPicker-Day {
    border-radius: 0 !important;
}

.DateRangePicker .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.DateRangePicker .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.is-gold {
    background-color: rgb(229, 193, 0) !important;
    color: white;
}

.link-button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.hero-page {
    background: rgb(103, 178, 111);
    background: linear-gradient(
        63deg,
        rgba(103, 178, 111, 1) 0%,
        rgba(17, 153, 142, 1) 100%
    );
}

@media (min-width: 1025px) {
    .columns .column.sidebar {
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    .Badge {
        padding: 0 0.3em 0 0.4em !important;

        span:not(.emoji):last-of-type {
            display: none;
        }

        .emoji {
            margin-right: 0 !important;
        }

        strong {
            padding-right: 0.2em;
        }
    }
}

@media (max-width: 1024px) {
    .columns .column:first-of-type,
    .column.stream-column {
        max-width: 100%;
    }

    .columns .column:first-of-type,
    .column.stream-column,
    .columns .column.sidebar {
        max-width: 100% !important;
    }

    .columns {
        flex-flow: column wrap;
    }

    div.ListView .columns,
    div.hero-body .container .columns {
        flex-flow: row wrap;
    }

    .column.is-one-fifth {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        //overflow-x: hidden;
        width: 100vw;
    }

    .columns {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .StreamDateHeader {
        padding-left: 10px;
    }

    .StreamSection {
        .card-header {
            justify-content: flex-start !important;
            align-items: flex-start !important;
            text-align: left !important;

            > nav {
                //flex-flow: column wrap;
                .level-right {
                    padding-top: 10px;
                }
            }

            .level-right,
            .level-left {
                //max-width: 100%;
                //width: 100%;
            }

            .level,
            .level-item {
                //justify-content: flex-start !important;
                align-items: flex-start !important;
            }

            .level-right {
                .level-item:first-of-type {
                    justify-content: flex-start;

                    .level-item {
                        flex-grow: 1 !important;
                    }
                }

                > .level-item:last-of-type {
                    justify-content: flex-end;
                    //flex-grow: 0;

                    .level-item {
                        text-align: right;
                    }
                }
            }
        }
    }
}

/* A random bulma fix? */
@media screen and (max-width: 1023px) {
    .navbar-secondary {
        padding-top: 5px !important;
    }
}

.brand-background-page {
    background: rgb(103, 178, 111);
    background: linear-gradient(
        63deg,
        rgba(103, 178, 111, 1) 0%,
        rgba(17, 153, 142, 1) 100%
    );
    padding-bottom: 30px;
    padding-top: 70px;

    .title,
    .subtitle {
        color: white;
    }

    .card {
        .title,
        .subtitle {
            color: #444;
        }
    }
}

.navbar-dropdown .navbar-item {
    color: $grey-dark !important;

    &:hover {
        // color: white !important;
    }
}
