@import "~bulma/sass/utilities/initial-variables.sass";

// Set your brand colors
$brand: #47e0a0;
$brandSecondary: #53af87;

// Update Bulma's global variables
$primary: $brandSecondary;
$link: $brandSecondary;

$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-background-color: #263238;
$navbar-dropdown-background-color: white;
$navbar-item-active-color: $brand;
$navbar-item-active-background-color: rgba(0, 0, 0, 0.2);
$navbar-tab-hover-background-color: rgba(0, 0, 0, 0.2);
$navbar-dropdown-item-hover-background-color: rgba(4, 174, 111, 0.4);
$navbar-dropdown-item-hover-color: $grey-dark;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-item-active-background-color: $brand;
$navbar-item-hover-background-color: rgba(0, 0, 0, 0.2);
$navbar-tab-hover-border-bottom-color: none;

@import "~bulma/bulma.sass";
@import "~bulma-badge/dist/css/bulma-badge.min.css";
@import "~bulma-quickview/dist/css/bulma-quickview.min.css";
@import "~bulma-timeline/dist/css/bulma-timeline.min.css";
@import "~bulma-divider/dist/css/bulma-divider.min.css";
@import "~react-tippy/dist/tippy.css";

@import "./app.scss";
@import "darkmode";
