

.quote-page .accounts-hero {
    background: rgb(103,178,111);
    background: linear-gradient(63deg, rgba(103,178,111,1) 0%, rgba(17,153,142,1) 100%);
}
.quote-page .accounts-hero .transparent-input {
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

.transparent-input-white {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height: 3rem;
    outline: none;
    border: none;
    border-bottom: none;
    width: 100%;
}

.transparent-textarea-white {
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    outline: none;
    height: 100%;
    border: none;
    border-bottom: none;
    width: 100%;
}

.quote-page .accounts-hero .nice-button {
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height: 3rem;
    margin: 10px;
    font-size: 1rem;
}

.quote-page .accounts-hero .left-column {
    height: 100%;
}


.quote-page .quote-case {
    padding: 30px;
    display: flex;
    height: 100%
}

.quote-page .quote-case .quote {
    display: inline-block;
}

.quote-pagepage .quote-case .quote .begin {
    align-self: flex-start;
}

.quote-page .quote-case .quote .end {
    align-self: flex-end;
}


.quote-page .image-case {
    width: auto;
    height: 500px;

}

.quote-page .logotype {
    font-family: 'Hammersmith One', sans-serif;
    color: #47E0A0 !important;
}

.quote-page .no-margin  {
    margin: 0;
}

.quote-page .column {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.quote-page .tint {
}

.quote-page .content-column {
    background-color: #0a0a0a;
}

.quote-page .column  h1 {
    color: white !important;
}


@media screen and (max-width: 768px) {
    .RegisterForm {
        width: 100vw;
    }
}

.RegisterForm .captcha-container {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}