.Editor {
    margin-bottom: 10px;
    min-height: 70px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 4px;
    border: 0px solid whitesmoke;
}

.Editor .editor-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.DiscussionEditor-container {
    width: 100%;

    .card {
        border: 0px solid transparent;
    }

    .help {
        margin-top: 0px;
    }

    .level {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .thread-selectors {
        display: flex;
        .ThreadTypeSelect {
            background-color: rgba(0, 0, 0, 0.1);
            font-size: 18px;
            border: none;
            border-radius: 0px;
            margin: 0;
            flex: 1;
            transition: all 0.3s ease;
            padding: 15px;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;

            &.is-selected {
                background-color: #00b77a;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
            }
        }
    }
}

.message.gold {
    background-color: #f7ecb2;
    border-color: #e5c100;

    .body {
        color: white;
    }
}

.MilestoneEditor-container {
    width: 100%;

    .milestone-form {
        &.disabled {
            pointer-events: none;
            position: relative;
            margin-top: 30px;
            opacity: 0.5;
        }

        &.disabled::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    .help {
        margin-top: 0px;
    }

    .level {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.Editor-container .dropzone {
    width: 100%;
    padding: 30px;
    text-align: center;
    border: 2px grey dashed;
    border-radius: 4px;
}

.Editor-container img {
    max-width: 400px;
}

.Editor-container .dropzone > .subtitle {
    margin: 0;
}

.Editor .editor-flex input {
    background-color: transparent;
    font-size: 22px;
    font-family: var(--font);
    font-weight: bold;
    padding: 15px;
    box-shadow: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.Editor .editor-flex .input-div {
    flex: 2;
}

.Editor.DueEditor {
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.7);

    .date-preview {
        width: 100%;
        padding: 15px;
        padding-top: 0px;
    }

    #editor-input {
        min-height: 70px;
    }

    .due-date-preview {
        font-size: 16px;
        font-style: italic;
    }
}

.Editor .editor-flex > .icon {
    cursor: pointer;
    height: 70px;
    max-width: 70px;
    font-size: 18px;
    background-color: transparent;
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Editor .editor-flex > .icon.done {
    background-color: #27ae60;
    font-size: 15px;
}

.Editor .editor-flex > .icon.todo {
    background-color: #f39c12;
    font-size: 15px;
}

.Editor .editor-flex > .icon.in_progress {
    background-color: #f39c12;
    font-size: 15px;
}

.Editor .editor-flex > .icon.in_progress svg {
    animation: fadeIn 1s infinite alternate;
}

.Editor-container button {
    margin-bottom: 4px;
}

.Editor-container button:hover {
    margin-bottom: 4px;
    background-color: #27ae60;
    color: white;
    border: 1px solid #27ae60 !important;
}

.Editor-container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .Modal {
        border-radius: 0px;
    }
    .Editor {
        border-radius: 0px;
    }

    .Editor-container .icon {
        height: 50px;
        max-width: 40px;
        font-size: 10px;
        border-radius: 0px !important;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .MultiColumnSelector {
        max-height: 100px;

        .column {
            min-height: 100px !important;
            max-height: 100px !important;
        }
    }

    .Editor input {
        font-size: 18px;
    }

    .MultiColumnSelector {
        flex-direction: row;
    }
}

.MultiColumnSelector.columns {
    margin-left: 0px !important;
    margin-right: 0px !important;

    .column {
        transition: background-color 300ms ease;
        min-height: 150px;
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .emoji {
            font-size: 2rem;
        }
    }

    .column:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .step-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 400px;

        .field {
            width: 90%;
        }

        input {
            min-width: 100%;
        }

        .idea-case {
            width: 90%;
            margin-top: 30px;
        }
    }
}
