.DownOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
}

.DownOverlay .title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.DownOverlay .brand {
  font-family: "Poppins", sans-serif;
  color: #47E0A0;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.DownOverlay .subtitle {
  margin-top: -0.7rem !important;
}

.DownOverlay .button {
  text-decoration: none !important;
}