.navbar-dark {
    background-color: #263238 !important;
    height: 60px;
    z-index: 1;
}

.navbar-dark .navbar-brand h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #47e0a0 !important;
}

.navbar-brand > .brand {
    background-color: transparent;
    transition: all 300ms ease-in-out;
}

.navbar-brand > .brand:hover {
    background-color: transparent !important;
    transform: scale(0.95);
}

.navbar-dark .navbar-brand img {
    height: 16px;
    margin-right: 5px;
}

.navbar-dark .navbar-link > img {
    max-width: 30px;
}

.navbar-dark .navbar-menu .navbar-item {
    transition: background-color 0.25s ease-in-out;
    font-weight: 700;
    color: #ecf0f1;
}

.navbar-dark .navbar-dropdown .navbar-item {
    color: black !important;
}

.navbar-secondary {
}

.navbar-secondary .navbar-menu .navbar-item {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .navbar-secondary a.navbar-item {
        transition: background-color 0.25s ease-in-out;
    }

    .navbar-secondary a.navbar-item.is-active {
        border-bottom: 3px solid #47e0a0;
        border-top: 3px solid #f2f2f2;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-brand .brand {
        width: 100%;
        flex-grow: 1;
    }

    .user-chip .navbar-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
    }

    .navbar-dark .navbar-menu {
        /* background-color: white; */
        background-color: black;
        z-index: 10000;
    }

    .navbar-dark .container {
        z-index: 10000;
        height: 60px;
        padding-top: 5px;
    }

    .navbar-brand {
    }

    .navbar-dark .navbar-end {
        margin-top: 20px;
    }

    .navbar-dark .navbar-menu .navbar-item.is-active {
        color: black !important;
    }

    .navbar-dark .navbar-menu .navbar-item:hover {
        color: black !important;
    }

    .navbar-dark .container .navbar-burger {
        background-color: transparent;
        color: white;
        border: 0;
    }

    .navbar-dark .navbar-dropdown .navbar-item {
        color: white !important;
    }
}

.brand-underline {
}

.navbar-item.has-dropdown .is-gold {
    min-height: 45px;
    position: relative;
    overflow: hidden;
}

.navbar-item.has-dropdown .is-gold:after {
    content: "";
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: 1;
    animation: slide 3.5s infinite;
    opacity: 0.5;
    background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(50%, rgba(255, 255, 255, 0.8)),
        color-stop(99%, rgba(128, 186, 232, 0)),
        color-stop(100%, rgba(125, 185, 232, 0))
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
    /* IE10+ */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
    /* IE6-9 */
}

/* animation */

@keyframes slide {
    0%,
    40% {
        transform: translateX(-100%);
    }

    80%,
    100% {
        transform: translateX(100%);
    }
}
