.CardFooter {
    color: gray;
    margin-top: 10px;
}

.CardFooter .BrandFooter {
    display: flex;
}

.CardFooter .footer-half {
    flex: 2;
}

.CardFooter .footer-half.branded {
    letter-spacing: 1px;
    font-size: 15px;
    flex: 1;
}

.CardFooter .footer-half.branded p {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.CardFooter .footer-half.branded img {
    padding: 5px;
    height: 30px;
}

.CardFooter .footer-half.copy {
    flex: 2;
    font-size: 13px;
}

.CardFooter .footer-half.copy > p {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CardFooter small {
    font-size: 10px;
}

.CardFooter strong {
    text-transform: uppercase;
    margin: 0;
    line-height: 3px;
}

.CardFooter ul {
    word-break: break-word;
    text-align: right;
}

.CardFooter ul li > a {
    display: inline-block;
}

.CardFooter .footer-half.menu {
    text-align: right;
}

.CardFooter .footer-half.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.CardFooter div {
}

.CardFooter #footer-light {
    color: lightgray;
}
.CardFooter img {
    width: 50px;
}

.CardFooter a .icon {
    text-decoration: none !important;
}

.LinksFooter {
    width: 100%;
    padding: 1rem;

    li {
        display: inline-block;
        flex-grow: 1;
        padding-right: 13px;
        font-size: 13.5px;
    }
}
