.UserPage {
    .hero {
        position: relative;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 330px;

        .hero-body {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        .js-acrylic {
            position: absolute;
            width: 100%;
            bottom: 50%;
        }

        .stats-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            text-align: left;
        }

        .flex-grow {
            flex-grow: 1;
        }
    }
}

.blur-container {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: inherit;
    overflow: hidden;
}

.blur {
    width: 100%;
    height: 90px;
    background: inherit;
    filter: blur(8px);
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
    transform: scale(1.3);
}

.user-box {
    text-align: center;
    margin-bottom: 20px;

    .bio {
        text-align: center;

        a {
            color: #3273dc !important;
        }
    }
}

.column.user-card-container {
    z-index: 1;
    text-align: center;
}

.user-card-container figure {
    height: 180px !important;
    width: 180px !important;
    border: 10px solid white;
    border-radius: 50%;
    margin: 0 auto;
}

.user-card-container img {
    max-height: 160px;
    max-width: 160px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gradient-avatar {
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    background: rgb(71, 224, 160);
    background: -moz-linear-gradient(
        4deg,
        rgba(71, 224, 160, 1) 0%,
        rgba(255, 255, 255, 1) 83%
    );
    background: -webkit-linear-gradient(
        4deg,
        rgba(71, 224, 160, 1) 0%,
        rgba(255, 255, 255, 1) 83%
    );
    background: linear-gradient(
        4deg,
        rgba(71, 224, 160, 1) 0%,
        rgba(255, 255, 255, 1) 83%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47e0a0",endColorstr="#ffffff",GradientType=1);
}

.gradient-avatar img {
    border-radius: 50%;
}

.stats-bar {
    height: 204px;
    padding: 70px 10px 10px;

    .flex {
        width: 100%;
        display: flex;

        .flex-grow {
            flex-grow: 1;
            align-self: center;
        }
    }
}

.user-box .profile-picture {
    text-align: center;
}

.user-box.standalone {
    .card-content {
        margin-top: 10px !important;
    }
}

.user-box .profile-picture {
    margin-right: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserPage .cta {
    text-align: center;
}

.user-box p {
    margin-bottom: 10px;
}

.ProfileActions button,
.ProfileActions a {
    margin-bottom: 10px;
}

.ProfileActions button:last-child,
.ProfileActions a:last-child {
    margin-bottom: 0px;
}

.user-box p:last-child {
    margin-bottom: 0px;
}

.UserPage .cta .button {
    border-color: #47e0a0 !important;
    color: white;
    background-color: #47e0a0 !important;
}

.card-column {
}

.card-column .card {
    margin-bottom: 10px;
}
.card-column .user-box {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.user-box .card-content {
    margin-top: 30px;
}

.social-count {
    padding: 10px;
    text-align: center;
}

.social-count .icon {
    margin: 2px;
}

.social-count:hover {
}

.social-count a .icon {
    display: inline-block;
}

.social-count.twitter {
    color: #1da1f2;
}

.social-count.github {
    color: black;
}

.social-count.instagram {
    color: #8a3ab9;
}

.social-count.product_hunt {
    color: #f07810;
}

.social-count > .icon {
}

.social-count > .count {
    margin-left: auto;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero .container {
    width: 100%;
}

.user-box-container {
    top: -50%;
}

.stream-column {
    margin-top: 30px;
}

.ProfileBarStats > .level-item {
    display: block !important;
}

.bmc-button {
    background-color: #ff813f !important;
}

.telegram-button {
    background-color: #0088cc !important;
}
