.UserMedia {
    border-radius: 5px;
    box-shadow: none;
    border-top: none !important;
    padding-top: 0 !important;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Badge .emoji {
    margin-right: 3px;
}

.is-avatar-badge.badge.is-badge-small[data-badge]::after {
    padding: 0;
    top: calc(0px - (0rem / 2));
    font-size: 13px;
    font-weight: bold;
    left: calc(100% - (3rem / 2));
    min-height: .75rem;
    min-width: .75rem;
    letter-spacing: -1px;
}

.UserMedia .username-wrapper > div {
    display: block;
}

.UserMedia .stats-case {
    font-size: 12px;
    font-weight: bold;
}

.UserMedia .stats-case > span {
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}

.UserMedia .stats-case > span, .stats-case > div {
    display: inline-block;
    margin-right: 5px;
}