.EventsPage {
    min-height: 100vh;

    .title,
    .subtitle {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

    .main-hero {
        padding-top: 2vh;
        height: 40vh;
        min-height: 300px;
        background-color: #1c1c1c;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-direction: column;
        margin-bottom: 30px;

        .title {
            color: white;

            svg {
                width: 0.75em;
            }
        }

        .subtitle {
            color: gray;
        }
    }

    button {
        font-weight: bold;
    }
}

/*
.EventsPage {
    background-color: #1C1C1C;
    min-height: 100vh;

    .columns {
        height: 100vh;
    }

    .title,
    .subtitle {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .column.primary {
        margin-right: 50px;

        .title {
            color: white;

            svg {
                width: 0.75em;
            }
        }

        .subtitle {
            color: gray;
        }
    }

    .column {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-direction: column;


    }

    button {
        font-weight: bold;
    }
}

.EventCard {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px;
    background: url('https://images.unsplash.com/photo-1494564605686-2e931f77a8e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    img {
        border-radius: 4px;
    }
}*/
