.MobileNav {
  display: none;
  flex-direction: row;
  position: fixed;
  height: 70px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid lightgray;
  bottom: 0;
  z-index: 98;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: darkgray;

    button {
      transform: scale(1.2);
      background-color: #47E0A0;
      font-size: 2rem;
      height: 100%;
      width: 70px;
      border-color: #47E0A0;
      color: white;
      transition: all 0.3s ease;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:active {
        transform: scale(1.2);
        border-color: #47E0A0;
        outline:none;
      }
    }

    &.is-active {
      color: #49A57C;
      border-top: 2px solid #47E0A0;
      padding-bottom: 2px;
    }

    .icon {
      font-size: 1.3rem;
    }

    span {
      margin-top: 3px;
      font-size: 0.8rem;
      font-family: 'Poppins', sans-serif;
    }

    &:hover {
    }
  }
}

@media only screen and (max-width : 768px) {
  .MobileNav {
    display: flex;
  }

  body {
    margin-bottom: 80px;
  }
}

