.MilestoneMedia {
  border-top: none !important;
  border-bottom: none !important;
  width: 100%;

  .heading {
    border-top: none !important;
    border-bottom: none !important;
  }

  &:hover {
    .hidden-button {
      display: block;
    }
  }

  .heading {
    color: grey !important;
  }

  .title {
    margin-bottom: 15px;
  }

  .content {
    color: #4a4a4a;
    max-width: 600px;
  }

  .buttons {
    margin-top: 20px;
  }

  .hidden-button {
    display: none;
  }
}

.MilestoneMedia.xs {
  .title {
    margin-top: 5px;
    margin-bottom: 5px;
  }


  .heading {
    margin-bottom: 5px;
  }
}


.StreamCard .MilestoneMedia {
  border-left: 3px solid #00b77a;
  transition: all 0.3s ease;
  padding: 1rem !important;

  &:hover {
    background-color: whitesmoke;
  }
}

.StreamCard .LinkWrapped:last-child {
  .MilestoneMedia {
    border-bottom-left-radius: 8px;
  }
}