.Onboarding {
    background: #fff !important;

    .grid-onboarding {
        display: grid;
        grid-template-columns: 412px 1fr;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 200px);
        width: calc(100% - 40px);
        max-width: 1100px;
        margin: 0 auto;
        grid-gap: 90px;
        color: #727272;
        font-size: 22px;
        line-height: 29px;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
            Helvetica, Arial, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Segoe UI", sans-serif;
    }

    h1 {
        color: #47e0a0;
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        padding: 0;
        margin: 28px auto;
    }

    h2 {
        font-weight: 800;
        font-size: 64px;
        line-height: 77px;
        color: #000;
        padding: 0;
        margin: 0 0 20px;
    }

    p {
        max-width: 580px;
        margin: 0 0 30px;
    }

    .btn-onboard {
        background: #00bc7b;
        border-radius: 30px;
        padding: 6px 30px 9px;
        color: #fff;
        border: 0;
        font-size: 23px;
        line-height: 1;
        cursor: pointer;
        margin-top: 30px;

        &.disabled {
            background: lightgray;
        }

        &.prev {
            background: #fff;
            color: #999;
            font-size: 17px;

            &:before {
                content: "\2190";
                padding-right: 5px;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .grid-onboarding {
            grid-template-columns: 200px auto;
            padding: 2rem;
        }

        h2 {
            font-size: 54px;
            line-height: 62px;
        }
    }

    @media only screen and (max-width: 768px) {
        & .image-container {
            display: none;
        }

        .grid-onboarding {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: start;
            text-align: center;
            grid-gap: 0;
            max-width: 90vw;
        }
    }
}
