.PraiseCount {
    display: inline-block;
}

.PraiseIndicator {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;

    > span {
        height: 27px;
    }

    .FaceStack {
        display: flex;
        margin: 0;
        margin-left: 8px;
        line-height: inherit;
    }
}
