.Notifications {

}

.quickview.is-active {
    z-index: 99 !important;
}

.quickview-body {
    background-color: #ecf0f1 !important;
    padding: 10px;
    color: #0a0a0a;
    overflow-y: auto;
}

.quickview-footer {
    justify-content: center !important;
}

.notifications-header {
    background-color: #263238;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    min-height: 60px !important;
}

.notifications-header > .title {
    font-family: "Poppins", sans-serif !important;
    color: #47E0A0;
    margin-bottom: 0;
}

.Notification {

}

.Notification.read {
    opacity: 0.5;
}


@media only screen and (max-width : 768px) {
    .notifications-quickview {
        width: 100vw;
    }
}