#footer {
    background-color: white;
    color: gray;
    padding: 40px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

#footer.no-margin-top {
    margin-top: 0px !important;
}

#footer .column.branded {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

#footer .column.menu {
    text-align: right;
}
#footer .column.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#footer div {
}

#footer #footer-light {
    color: lightgray;
}
#footer img {
    width: 50px;
}
#footer a {
    font-size: 15px;
}

#footer a .icon {
    text-decoration: none !important;
}

#footer .level-left {
    max-width: none !important;
}
