@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.Entry {
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px;
    word-break: break-word;
    cursor: pointer;
}

.Entry .fa {
    margin-right: 8px;
    font-size: 13px;
}

.Entry .done {
    background-color: #2ecc71;
}

/*.Entry.remaining {*/
/*    opacity: 0.8;*/
/*}*/

.Entry.in-progress .task-content {
    animation: fadeIn 1s infinite alternate;
}

.Entry.in-progress > svg {
    animation: pulse 2s infinite;
    box-shadow: 0 0 5px #f4a324;
    border-radius: 50%;
}

.Entry .emoji {
    margin-right: 6px;
    font-size: 13px;
}

.Praisable {
    user-select: none;
    display: inline;
}

.hidden {
    display: none !important;
}

.Entry .attachment {
    margin-top: 0 !important;
    max-width: 400px;
    border-radius: 5px;
}

.Entry .attachment > img {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

.Entry.launch {
    font-weight: bold;
    color: #3e8d5b;
}

.Entry.launch > .emoji {
    font-size: 18px;
    margin-right: 0px;
}

.Entry a {
    word-break: break-all;
}

.Entry .editing {
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px;
}

.Entry input.editing {
    width: 90%;
    outline: none;
    border: 1px solid lightgrey;
    box-shadow: none;
}
